<h3 class="text-danger">
    Your account is locked, please tr again after sometime or you may
    <a asp-action="ForgotPassword" asp-controller="Account">
        reset your password by clicking here
    </a>
</h3>
